<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src='/javascripts/pace.min.js'></script>
        <script type='text/javascript' src='/javascripts/uc.js'></script>
        <script type='text/javascript' src='/javascripts/jquery-1.8.2.js'></script>

        <script src="/socket.io/socket.io.js"></script>
        
        <script type='text/javascript'>

            var status_ions = { 
                200: '<span class="uc-ion ion-ios-checkmark-outline w3-text-green"></span>',
                404: '<span class="uc-ion ion-ios-lightbulb-outline w3-text-yellow"></span>',
                500: '<span class="uc-ion ion-ios-lightbulb-outline w3-text-red"></span>' }

            var socket = io();
            
            socket.on( 'check response', function( config )
            {
                var config_elem = $jQ( '#'+ config._id );
                
                config_elem.find( 'div.js-config-last-response' ).html( status_ions[config.last_response] + config.last_response );
                config_elem.find( 'div.js-config-last-duration' ).text( config.last_duration +'ms' );
            });
            
            <!-- this is to prevent conflicts with prototype and jquerytools -->
            $jQ = jQuery.noConflict();

            $jQ( function()
            {
                $jQ( 'div.uc-config' ).each( function()
                {
                    var last_response_elem = $jQ(this).find( 'div.js-config-last-response' )
                    var last_duration_elem = $jQ(this).find( 'div.js-config-last-duration' )

                    if ( status_ions[parseInt(last_response_elem.text())] )
                        last_response_elem.html( status_ions[parseInt(last_response_elem.text())] + last_response_elem.text() );
                    else 
                        last_response_elem.text( '-' );

                    if ( last_duration_elem.text() )
                        last_duration_elem.text( last_duration_elem.text() +'ms' );
                    else
                        last_duration_elem.text( '-' );
                })
            })

        </script>

        <link rel='stylesheet' type='text/css' href='/stylesheets/ionicons.css' />
        <link rel='stylesheet' type='text/css' href='/stylesheets/w3.css' />
        <link rel='stylesheet' type='text/css' href='/stylesheets/pacejs.css' />
        <link rel='stylesheet' type='text/css' href='/stylesheets/uc.css' />
    </head>

    <body>
        <div class='w3-row uc-wrapper'>
            
            <div id='header' class='w3-container'>
                <@ block header @>
                <@ endblock @>
            </div>

            <div id='content' class='w3-container'>
                <div class='w3-col l12'>
                    <@ block content @>
                    <@ endblock @>
                </div>
            </div>

        </div>
    </body>

</html>