<@ extends "base.html" @>

<@ block header @>
    <h3>Uptime - Configurations</h3>
<@ endblock @>

<@ block content @>
<div class='w3-row'>
    <div class='w3-row w3-padding-hor-4 uc-border-bottom'>
        <div class='w3-col l1 w3-padding-hor-4'>Status</div>
        <div class='w3-col l4 w3-padding-hor-4'>Name</div>
        <div class='w3-col l2 w3-padding-hor-4'>When</div>
        <div class='w3-col l2 w3-padding-hor-4'>Last Response</div>
        <div class='w3-col l2 w3-padding-hor-4'>Last Duration</div>
        <div class='w3-col l1 w3-padding-hor-4'></div>
    </div>
    <@ for config in configs @>
    <div class='uc-config w3-row uc-padding-hor-10 uc-border-top' id='{{ config._id }}'>
        <div class='w3-col l1'><a href='/configrations/{{ config._id }}' class='js-config-status'><span class='uc-ion ion-ios-timer-outline <@ if config.active @>w3-text-green js-config-enabled<@ else @>w3-text-red js-config-disabled<@ endif @>'></span></a></div>
        <div class='w3-col l4'><b><a href='/configurations/{{ config._id }}'>{{ config.name }}</a></b></div>
        <div class='w3-col l2 js-config-when'><@if config.active @>every {{ config.interval }}s<@ else @>not scheduled<@ endif @></div>
        <div class='w3-col l2 js-config-last-response'>{{ config.last_response }}</div>
        <div class='w3-col l2 js-config-last-duration'>{{ config.last_duration }}</div>
        <div class='w3-col l1'>
            <a href='/configurations/{{ config._id }}/assumptions' class='js-config-assumption-details'><span class='uc-ion-narrow ion-ios-list-outline'></span></a>
            <a href='/configurations/{{ config._id }}/once' class='js-config-run'><span class='uc-ion <@ if not config.active @>ion-ios-play-outline<@ endif @>'></span></a>
        </div>
    </div>
    <@ endfor @>

    <div class='w3-row w3-padding-hor-24'>
        <a href='/uptime-checks/create'><button class='w3-border w3-small'>Create Check</button></a>
    </div>
</div>

<div class='w3-row' id='uc-config-assumption-details'>
    <!-- ajax response -->
</div>

    <script type='text/javascript'>

    //
    $jQ( document ).on( 'click', 'a.js-config-run', function()
    {
        var url = $jQ(this).attr('href')

        $jQ.ajax({
            url: url,
            type: 'GET',
            success: function( data ) { /* nothing to be done */ }
        })

        return false;
    })

    //
    $jQ( document ).on( 'click', 'a.js-config-assumption-details', function()
    {
        var url = $jQ(this).attr('href')

        $jQ.ajax({
            url: url,
            type: 'GET',
            success: function( data ) 
            {
                $jQ( '#uc-config-assumption-details' ).html( data ) 
            }
        })

        return false;
    })

    // PUT request to change 'active' status-flag of config
    $jQ( document ).on( 'click', 'a.js-config-status', function()
    {
        var span = $jQ(this).find( 'span.uc-ion' )
        var url = $jQ(this).attr('href')
        var futureStatus = span.hasClass( 'js-config-enabled' ) ? false : true

        $jQ.ajax({
            url: url,
            type: 'PUT',
            data: { 'active': futureStatus },
            success: function( data )
            {
                // change status of icon
                span.toggleClass( 'ion-ios-stopwatch-outline w3-text-green ion-android-hand w3-text-red js-config-enabled js-config-disabled' )

                // update 'when'-column
                if ( futureStatus == true )
                    span.closest( 'div.uc-config' ).find( 'div.js-config-when' ).text( data.when )
                else 
                    span.closest( 'div.uc-config' ).find( 'div.js-config-when' ).text( 'not scheduled' )
            }
        })

        return false;
    })

    </script>
<@ endblock @>