<@ extends "base.html" @>

<@ block header @>
    <h3>Moodi-Uptime - New Configuration</h3>
<@ endblock @>

<@ block content @>

    <form action='/configurations' method='POST' enctype='application/json'>
        <div class='w3-row w3-padding-hor-4'>
            <div class='w3-col l2'>Name:</div><div class='w3-col l4'><input class='uc-textfield' name='name' value=''></div>
        </div>
        <div class='w3-row w3-padding-hor-4'>
            <div class='w3-col l2'>Belongs to Group:</div><div class='w3-col l4'><input class='uc-textfield' name='group_name' value=''></div>
        </div>
        <div class='w3-row w3-padding-hor-4'>
            <div class='w3-col l2'>URL:</div><div class='w3-col l4'><input class='uc-textfield uc-code' name='url' value=''></div>
        </div>
        <div class='w3-row w3-padding-hor-4'>
            <div class='w3-col l2'>URL Data:</div><div class='w3-col l4'><input class='uc-textfield' name='data' value=''></div>
        </div>
        <div class='w3-row w3-padding-hor-4'>
            <div class='w3-col l2'>Interval (in seconds):</div><div class='w3-col l4'><input class='uc-textfield' name='interval' value='' placeholder='default: 60'></div>
        </div>

        <div class='w3-row w3-padding-hor-24'>
            <input type='submit' class='w3-border w3-small' value='Save'>
            <a href='/configurations'><button class='uc-background-none w3-small' type='button'>Cancel</button></a>
        </div>
    </form>

<@ endblock @>
