<h4>Assumptions of <b>{{ config.name }}</b></h4>

<div class='w3-col l8'>

<@ if config.checks and config.checks | last @>
    <@ set last_check = config.checks | last @>
    <@ for assump in last_check.assumptions @>

        <@ if assump.succeed @>
    <div class='w3-row w3-padding-hor-8'>
        <span class='w3-col l1'><span class='uc-ion ion-ios-sunny-outline w3-text-orange'></span></span>
        <span class='w3-col l10'>{{ assump.label }}</span>
    </div>
        <@ else @>
    <div class='w3-row w3-padding-hor-8'>
        <span class='w3-col l1'><span class='uc-ion ion-ios-rainy-outline w3-text-blue'></span></span>
        <span class='w3-col l10'>{{ assump.label }}</span>
        <span class='w3-col l1 w3-right-align'><a href='/uptime-checks/{{ config._id }}#assumptions'><span class='uc-ion ion-ios-gear-outline'></span></a></span>
    </div>

    <div class='w3-row w3-padding-hor-4 w3-pale-red w3-padding-small' style='margin-left: 54px'>
        <div class='w3-row w3-padding-hor-4'><span class='w3-col l4'><b>Test</b>:</span><span class='w3-col l8'><code>{{ assump.value }}</code></span></div>
        <div class='w3-row w3-padding-hor-4'><span class='w3-col l4'><b>Expected</b> value was:</span><span class='w3-col l8'>{{ assump.value_expected }}</span></div>
        <div class='w3-row w3-padding-hor-4'><span class='w3-col l4'><b>Returned</b> value is:</span><span class='w3-col l8'>{{ assump.value_returned }}</span></div>
    </div>
        <@ endif @>

    <@ endfor @>
<@ else @>
    <p>No assumptions executed so far</p>
<@ endif @>

</div>
